/* PwC Font */
@font-face {
	font-family: 'PwC regular Helvetica Neue';
	src: 
        url('https://boemmel.github.io/SAP/HelveticaNeue/HelveticaNeueLTW01-55Roman.woff2') format('woff2'),
        url('https://boemmel.github.io/SAP/HelveticaNeue/HelveticaNeueLTW01-55Roman.woff') format('woff'),
        url('https://boemmel.github.io/SAP/HelveticaNeue/HelveticaNeueLTW01-55Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
