/* PwC Font */
@font-face {
	font-family: 'PwC medium Helvetica Neue';
	src: 
	url('https://boemmel.github.io/SAP/HelveticaNeue/HelveticaNeueLTW01-65Medium.woff2') format('woff2'),
	url('https://boemmel.github.io/SAP/HelveticaNeue/HelveticaNeueLTW01-65Medium.woff') format('woff'),
	url('https://boemmel.github.io/SAP/HelveticaNeue/HelveticaNeueLTW01-65Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
