/* PwC Font */
@font-face {
	font-family: 'PwC bold Helvetica Neue';
	src: 
	url('https://boemmel.github.io/SAP/HelveticaNeue/HelveticaNeueLTW01-75Bold.woff2') format('woff2'),
	url('https://boemmel.github.io/SAP/HelveticaNeue/HelveticaNeueLTW01-75Bold.woff') format('woff'),
	url('https://boemmel.github.io/SAP/HelveticaNeue/HelveticaNeueLTW01-75Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
