/* PwC Font */
@font-face {
	font-family: 'PwC light Helvetica Neue';
	src: 
		url('https://boemmel.github.io/SAP/HelveticaNeue/HelveticaNeueLTW01-45Light.woff2') format('woff2'),
        url('https://boemmel.github.io/SAP/HelveticaNeue/HelveticaNeueLTW01-45Light.woff') format('woff'),
        url('https://boemmel.github.io/SAP/HelveticaNeue/HelveticaNeueLTW01-45Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
